* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 0 0.2em;
}

html {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #eee no-repeat;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body {
    margin: 3em;

    background-color: #ddd;
    padding: 0.7em 1em 0.5em;
    max-width: 30em;

    border-radius: 15px;
    box-shadow: 0px 0px 10px #111;

    -moz-border-radius: 15px;
    -moz-box-shadow: 0px 0px 10px #111;
    -webkit-box-shadow: 0px 0px 10px #111;
}

.bio {
    font-size: 1.3em;
}

.links {
    float: right;
    font-size: 1.1em;
}

.links ul {
    list-style-type: none;
    padding: 0;
}

.links li {
    display: inline-block;
}

.links li:after {
    content: ", ";
}

.links li:last-child:after {
    content: "";
}

.clear {
    clear: both;
}